body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #7581a1;
	line-height: 26px;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 91px;
    letter-spacing: -2.4px;
    margin: -22px -4px;
}
ul {
	list-style-type: none;
}
.wrap {
	max-width: 1110px;
	margin: 0 auto;
}
/*page-header*/
.page-header {
	background: url(../img/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 53px 0 330px;
	position: relative;
	overflow: hidden;
}
.logo {
	display: block;
	width: 183px;
}
.box-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 324px;
	position: relative;
}
.nav {
	font-size: 12px;
	font-weight: 700;
	color: #6e7ea9;
	text-transform: uppercase;
	margin: 14px 0px 10px 0px;
	padding: 0;
	display: flex;
	align-items: center;
}
.nav li {
	padding: 0 19px;
    
    letter-spacing: 2.4px;
}

.nav li:nth-child(6) {
	padding: 0 38px 0 21px;
}
.page-header  li a {
	color: #6e7ea9;
}
.btn-block a + a {
	margin-left: 15px;
}
.btn-block {
	margin-top: 85px;
}
.header-img {
	background: url(../img/hederScreen.png);
	background-repeat: no-repeat;
	width: 897px;
	height: 746px;
	position: absolute;
	top: 185px;
    right: -170px;
}
/*page-company*/
.page-company {
	background: url(../img/bg_companies.png);
	padding: 102px 0;
}
.page-company ul {
	display: flex;
	justify-content: space-between;
	max-width: 1110px;
	margin: 0 auto;
}
.company1 {
	background: url(../img/company1.png);
	background-repeat: no-repeat;
	flex-basis: 198px;
	height: 58px;
}
.company2 {
	background: url(../img/company2.png);
	background-repeat: no-repeat;
	flex-basis: 200px;
	height: 69px;
}
.company3 {
	background: url(../img/company3.png);
	background-repeat: no-repeat;
	flex-basis: 201px;
	height: 47px;
}
.company4 {
	background: url(../img/company4.png);
	background-repeat: no-repeat;
	flex-basis: 200px;
	height: 69px;
}

.list-stat {
	display: flex;
	list-style-type: none;
	padding: 0;
}
/*button styles*/
.btn-primary {
	padding: 21px 41px;
	border-radius: 30px;
	background: #1085e4;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	border: 1px solid #1085e4;
	transition: .3s;
}
.btn-correct {
	padding: 21px 51px;
	font-size: 11px;
}
.btn-primary:hover,  .btn-secondary:hover {
	background: #fff;
	color: #1085e4;
}
.btn-secondary {
	padding: 22px 38px;
	border-radius: 30px;
	background: #cbdbe8;
	color: #7e8bae;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: .3s;
}

.btn-info {
	background: transparent;
	color: #8085b1;
	border: 1px solid #ebf0f5;
}

.btn-free {
	letter-spacing: 2px;
    padding: 23px 57px;
}
/*h2 styles */
.h2_40 {
	font-size: 40px;
	font-weight: 700;
	color: #192b59;
}
.h2_50 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
	letter-spacing: -2px;
	line-height: 65px;
	text-align: center;
	margin: 0 auto;
}

.span{
	font-size: 14px;
	font-weight: 700;
	color: #1085e4;
	text-transform: uppercase;
	display: block;
	letter-spacing: 1.4px;
}

.colorFeedbackH2 {
	color: #fff;
}

.colorFeedbackSpan {
	color: #3c99eb;
}

.grid-item h3 {
	font-size: 20px;
	color: #192b59;
	font-weight: 600;
}

.grid-item a {
	color: #1085e4;
	font-size: 14px;
	font-weight: 600;
}

.autor {
	font-weight: 700;
	color: #1085e4;
	font-size: 14px;
	padding-left: 5px;
}

.autor span {
	font-size: 16px;
	font-weight: 700;
	color: #192b59;
}

.page-feedback, .page-team {
	background: #85c8ff;
}
/*page-company*/
.page-grid {
	    margin: 118px auto 92px;
}
.grid {
	text-align: center;
	display: grid;
	grid-template-areas: 
	'header content2 content3'
	'content1 content2 content3'
	'content1 content5 content6'
	'content4 content5 content6'
	'content4 footer footer';
	grid-gap: 30px;
	grid-template-columns: 350px 350px 350px;
	grid-template-rows: 181.5px 181.5px 181.5px 181.5px 181.5px;
}
.block1 {
	grid-area: content1;
}
.block2{
	grid-area: content2;
}
.block3 {
	grid-area: content3;
}
.block4 {
	grid-area: content4;
}
.block5 {
	grid-area: content5;
}
.block6 {
	grid-area: content6;
}
.foot {
	grid-area: footer;
	text-align: left;
    padding-left: 21px;
}
.foot p {
	letter-spacing: 0.5px;
	margin-bottom: -3px;
}
.grid h2 {
	text-align: left;
    line-height: 50px;
    grid-area: header;
    align-self: center;
    max-width: 274px;
    margin-top: -32px;
    letter-spacing: -1.4px;
}
.grid-item {
	    box-shadow: 4px 13px 20px #f5f5f5;
	    padding: 0 40px; 
}

.grid-item h3 {
	    margin: 0 auto;
	    letter-spacing: -0.6px;
}
.grid-item p {
	letter-spacing: 0.2px;
    margin-top: 18px;
}
.icon1 {
	background: url(../img/icon1.png);
	width: 79px;
	
}
.icon2 {
	background: url(../img/icon2.png);
	width: 73px;
	
}
.icon3 {
	background: url(../img/icon3.png);
	width: 89px;
	
}
.icon4{
	background: url(../img/icon4.png);
	width: 103px;
	
}
.icon5 {
	background: url(../img/icon5.png);
	width: 85px;
	
}
.icon6 {
	background: url(../img/icon6.png);
	width: 100px;
	
}
.icon {
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto -8px;
	height: 171px;
}
/*page-subscribe*/
.page-subscribe {
  	background: rgba(10,32,144,1);
	background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
	background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
	background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}
.box-subscribe {
	display: flex;
	justify-content: space-between;
}
.subscribe-img {
	background: url(../img/robot.png);
    background-repeat: no-repeat;
    width: 354px;
    height: 442px;
    align-self: center;
    background-position: 2px 13px;
}
.page-subscribe h2 {
	font-size: 50px;
	font-weight: 600;
	color: #fff;
	margin: 111px 0 50px;
	letter-spacing: -5px;
}

.page-subscribe h2 span {
	font-size: 14px;
	font-weight: 800;
	color: #00bffe;
	display: block;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-bottom: 32px;
}

.page-subscribe p {
	font-size: 18px;
	font-weight: 700;
	color: #dfe8ff;
	margin-top: -8px;
    line-height: 28px;
}

.page-subscribe input{
	font-size: 14px;
	font-weight: 700;
	color: #b1c3ee;
	background: transparent;
	padding: 26px 326px 28px 40px;
	border-radius: 35px;
	border: 1px solid #2d5fb8;
	outline: none;
}
.btn-subscribe {
	display: block;
    position: relative;
    bottom: 61px;
    left: 343px;
    outline: none;
    padding: 17px 44px;
    letter-spacing: 4px;
}
.box-input {
	margin: 36px 0 71px;
}
/*page-details*/
.page-details img {
	width: 100%;
}
.page-details {
	text-align: center;
}
.page-details h2 {
	margin: 115px auto 60px;
}
/*page-price*/
sub {
	font-size: 20px;
	font-weight: 700;

}
.page-price {
	text-align: center;
}
.page-price .h2_40 {
	margin: 75px auto 90px;
}
.page-price .h2_50 {
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 0px;
	margin-top: 70px;
}
.page-price .span {
	padding-bottom: 20px;
	letter-spacing: 3px;
}
.page-price .wrap {
	display: flex;
	justify-content: space-between;
}
.page-price .wrap div {
	padding: 0 0 70px;
	flex-basis: 32%;
	margin-right: 30px;
	background: #f5faff;
	position: relative;
}

.page-price .wrap div::after {
	content: '';
	width: 59px;
	height: 100%;
	background-image: url(../img/bg-triangle.png);
	position: absolute;
	top: 0;
	right: 0;
}
.page-price .wrap div:nth-child(2)::after {
	display: none;
}
.page-price .wrap div:nth-child(2) {
	background: #192b59;
}
.page-price ul {
	list-style: none;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 700;
	color: #6e7ea9;
	padding: 0;
	margin: 0 auto 40px;
}
.page-price .wrap div:nth-child(2) h2 {
	color: #fff;
}
/*page-stat*/

.page-stat {
	background: #edf6ff;
}

.page-stat h2 span {
	display: block;
	font-size: 16px;
	font-weight: 800;
	color: #1585e4;
	letter-spacing: 3px;
	padding-top: 40px;
}

.page-stat h2 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
	letter-spacing: -2px;
	max-width: 401px;
	line-height: 65px;
	text-align: center;
	margin: 0 auto;
}

.list-stat {
	display: fiex;
	justify-content: space-around;
	margin: 45px 0; 
} 

.list-stat li {
	font-size: 12px;
	font-weight: 700;
	color: #1085e4;
	letter-spacing: 2px;
	text-align: center;
	padding-bottom: 40px;
}

.list-stat li span {
	display: block;
	font-size: 50px;
	font-weight: 700;
	color: #bacbdc;
	margin-bottom: 15px;
}
/*page-software*/
.page-software {
	background: url(../img/bacground-software.png);
	background-position: -596% -10%;
	background-repeat: no-repeat;
}
.icon-software {
	background: url(../img/icon-software.png);
	width: 115px;
	height: 84px;
	background-position-x: -25px;
    background-repeat: no-repeat;
    margin: 0px 0 23px;
}
.page-softwere-content h2 {
	margin: 0px 0px 0px 0px;
	line-height: 58px;
    letter-spacing: -1.7px;
    word-spacing: 7px;
    text-align: left;
}
.page-softwere-content p {
	margin: 28px 0px 0px 0px;
	/*line-height: 58px;
    letter-spacing: -1.7px;
    word-spacing: 7px;*/
}
.background-soft {
	width: 511px;
	height: 1002px;
}
.page-softwere-flex {
	display: flex;
	
}
.page-softwere-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-basis: 55%;
	font-weight: 700;
}
.dl {
	    height: 45vh;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 65px;
}
dl {
	margin: 28px 0;
}
dt {
	margin-bottom: 10px;
}
dd {
	font-size: 14px;
	margin: 0;
}
hr {
	margin: 22px;
}