body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #7581a1;
	line-height: 26px;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 80px;
	font-weight: 600;
	color: #192b59;
}

.nav {
	font-size: 12px;
	font-weight: 700;
	color: #6e7ea9;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
} 

.btn-block a + a {
	margin-left: 15px;
}

.page-header li + li {
	margin-right: 20px;
}

.page-header li:first-child {
	margin-right: 20px;
}

.page-header  li a {
	color: #6e7ea9;
}

.btn-primary {
	padding: 22px 58px;
	border-radius: 30px;
	background: #1085e4;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid #1085e4;
}

.btn-primary:hover,  .btn-secondary:hover {
	padding: 22px 58px;
	border-radius: 30px;
	background: #fff;
	color: #1085e4;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid #1085e4;
}

.btn-secondary {
	padding: 22px 58px;
	border-radius: 30px;
	background: #cbdbe8;
	color: #7e8bae;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-info {
	background: transparent;
	color: #8085b1;
	border: 1px solid #ebf0f5;
}

.gred h2 {
	font-size: 40px;
	font-weight: 600;
	color: #192b59;
}

.grid h2 span {
	font-size: 14px;
	font-weight: 400;
	color: #1085e4;
	text-transform: uppercase;
	display: block;
}

.grid-item h3 {
	font-size: 20px;
	color: #192b59;
	font-weight: 600;
}

.grid-item a {
	color: #1085e4;
	font-size: 14px;
	font-weight: 600;
}

.autor {
	font-weight: 700;
	color: #1085e4;
	font-size: 14px;
}

.autor span {
	font-size: 16px;
	font-weight: 700;
	color: #192b59;
}

.page-subscribe {
  background-image: -webkit-linear-gradient( -30deg, rgb(10,32,144) 0%, rgb(35,119,205) 100%);
}

.page-subscribe h2 {
	font-size: 50px;
	font-weight: 600;
	color: #fff;
}

.page-subscribe span {
	font-size: 14px;
	font-weight: 800;
	color: #00bffe;
	display: block;
}

.page-subscribe p {
	font-size: 18px;
	font-weight: 700;
	color: #dfe8ff;
}

.page-subscribe input{
	font-size: 14px;
	font-weight: 700;
	color: #b1c3ee;
	background: transparent;
	padding: 28px 326px 28px 40px;
	border-radius: 35px;
	border: 1px solid #2d5fb8;
}